body {
  margin: 50px 100px 0px 100px;
}

.logo {
  border-radius: 0px;
}
.card {
  border: 0px;
}
.menu {
  height: 22px;
  border-radius: 0;
  font-family: Google Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.traveller {
  float: left;
}

.traveller-img {
  vertical-align: auto;
  width: 500px;
  height: 765px;
}
.description {
  /* background-color: red; */
  float: left;
  font-size: 10;
}

.description .description__tagline {
  height: 30px;
  /* width: 410px; */
  margin-top: 135px;
  margin-bottom: 24px;
  color: #df6951;
  left: 150px;
  top: 217px;
  font-family: Poppins-Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.description .description__heading {
  left: 150px;
  top: 271px;
  color: #181e4b;
  margin-bottom: 30;
  font-family: Volkhov;
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -0.04em;
  text-align: left;
}
.description .description__desc {
  height: 90px;
  width: 477px;
  left: 148px;
  top: 568px;
  color: #5e6282;
  margin-bottom: 30px;
  border-radius: nullpx;
  font-family: Poppins-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.btn {
}

.btn--cta {
  float: left;
  /* margin-right: 30px; */
  border-radius: 10px;
  background: #f1a501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  color: #ffffff;
  font-family: Google Sans;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.btn--cta__play {
  margin-right: 21px;

  background: #df6951;
  box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
}

.btn--cta__play__icon {
  color: #ffffff;
}

.category {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
/* rectangle */

.category .category__name {
  font-family: Poppins-Regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #5e6282;
}

.category .category__text {
  font-family: Volkhov;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
}
.category-hide {
  position: absolute;
  z-index: 0;

  /* top :80%; */
}
.category-show {
  position: absolute;
  z-index: 1;
}
.category-rec {
  width: 100px;
  height: 100px;
  background: #df6951;
  border-radius: 30px 0px 10px;
  /* bottom: -10%;
  left: -15%; */
  display: none;
}
.category .category__card {
  border: 0px;
  margin: 0px 18px 0px 18px;
  border-radius: 36px;
  /* background: yellow; */
  align-items: center;
  justify-content: center;
}

.category__card:hover + .category-rec {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px #00000002,
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  display: block;
}

.category__card--img {
  margin-top: 40px !important;
  width: 50%;
  /* height: 400px; */
}
.card-body {
  /* margin: 40px 0px 0px 0px; */
  width: 100%;
  color: #5e6282;
}
.card-text {
  /* margin: 0px 30px 0px 30px; */
}
.card-title {
  color: #1e1d4c;
}
.destination {
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 150px;
}

.destination .destination__name {
  margin-bottom: 8px;
  font-family: Poppins-Regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #5e6282;
}
.destination .destination__name--right {
  text-align: right;
}

.top-destination {
  /* max-width: 80%; */
}

.destination .destination__text {
  margin-bottom: 60px;
  font-family: Volkhov;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
}

.destination .destination__card {
  padding: 0px;
  border: 0px;
  margin: 0px 18px 0px 18px;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  /* width: 267px;
  height: 314px; */

  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}
.destination__card--img {
  /* width: 200px; */
  height: 400px;
  border-radius: 24px 24px 0px 0px;
}

.description .destination__info {
  /* padding: 32px; */
  /* padding-right: 24px !important; */
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  /* font-size: 16px !important; */
  line-height: 124.5%;
  color: #5e6282;
}

.destination__info--icon {
  margin-bottom: 25px;

  color: #080809;
}

.bookTrip {
  margin-top: 186px;
}
.bookTrip .bookTrip__subHeading {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: left;
}

.bookTrip .bookTrip__heading {
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 64px;
}

.card-values {
  text-align: left;
  margin-bottom: 4px;
}
.card-values .card-values__card {
  border: 0px;
}
.card-values .card-values__icon {
  border-radius: 13px;
  position: absolute;
  top: 15%;
}

.btn--values {
  background: #f0bb1f;
  color: hsl(0, 0%, 100%);
}

.btn--payment {
  background: #f15a2b;
  color: hsl(0, 0%, 100%);
}
.btn--airport {
  background: #006380;
  color: hsl(0, 0%, 100%);
}

.card-values .card-values__title {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
}

.card-values .card-values__text {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
}

.bookTrip .bookTrip__card {
  padding: 0px;
  border: 0px;
  margin: 0px 18px 0px 18px;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}

.bookTrip__card--img {
  width: 90%;
  border-radius: 24px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.bookTrip-card-title {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: 0.015em;
  color: #080809;
  margin-bottom: 13px;
}

.bookTrip-card-subtitle {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.005em;
  color: #84829a;
  margin-bottom: 20px;
}
.bookTrip-card-option {
  width: 36px;
  height: 36px;
  background: #f5f5f5;
  margin-bottom: 30px;
}
.bookTrip-card-option .bookTrip-card-option__icon {
  color: #84829a;
}
.bookTrip-card-quantity {
  /* float: left; */
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.02em;
  color: #84829a;
}

.icon-heart {
  color: #4152ca;
}
.ongoing {
  width: 60%;
  position: absolute;
  top: 55%;
  left: 60%;
}
.card-ongoing {
  text-align: left;
  margin-bottom: 4px;
}
.card-ongoing .card-ongoing__card {
  border: 0px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
}
.card-ongoing .card-ongoing__img {
  margin-left: 20px;
  border-radius: 13px;
  position: absolute;
  top: 15%;
  width: 50px;
  height: 50px;
}

.card-ongoing .card-ongoing__title {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.035em;
  color: #84829a;
}

.card-ongoing .card-ongoing__text {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: -0.015em;
  color: #080809;
}

.card-ongoing .card-ongoing__percent {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.055em;
}

.progress {
  height: 5px;
  background-color: #f5f5f5;
}
.progress-bar {
  background-color: #8a79df;
}
/* testimonial */
.testi {
  margin-top: 200px;
}

.testi .testi__title {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5e6282;
}

.testi .testi__heading {
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183e;
}

.carousel-indicators {
  margin-bottom: -80px !important;
  /* float: left !important; */
  right: auto;
  margin-left: auto;
}

.carousel-indicators [data-bs-target] {
  /* width: 10px; */
  width: 12px;
  margin-right: 20px;
  height: 12px;
  border-radius: 50%;
}

.testi .testi__slider {
  margin-top: 80px;

  /* color: #e5e5e5; */
}

.testi__slider__active {
  color: #39425d;
}

.testi__card {
  width: 80%;
  border: 0px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}

.testi-hide {
  position: absolute;
  z-index: 0;
  top: 55%;
  left: 12%;
  /* right: -8%; */
}
.testi-show {
  position: absolute;
  z-index: 1;
}
.testi__card__img {
  width: 60%;
  position: absolute;
  top: -15%;
  left: -5%;
}
.testi__card__text {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  width: 90%;
  color: #5e6282;
  margin-bottom: 30px;
}
.testi__card__name {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5e6282;
}
.testi__card__info {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #5e6282;
}
.testi__card__pagination {
}

.logos {
  margin-top: 200px;
  display: flex;
  justify-content: space-between;
}

.logos-card-img {
  width: 80%;
}

.card-img:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}

.section {
  margin-top: 150px;
}

.section-img {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background: #dfd7f9;
  border-radius: 20px 129px 20px 20px;
  opacity: 0.2;
  /* width: 1170; */
  height: 400px;
}
.section-subscribe {
  text-align: center;
  margin: 40px 100px 40px 100px;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  color: #5e6282;
}
.input-group {
  border: 0px;
}
.email-input {
  width: 80%;
  height: 68px;
  border-radius: 10px;
  border: none;
}

.btn--subscribe {
  font-size: 17px;
  color: #ffffff;
  height: 68px;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
}

.subscribe-icon {
  position: absolute;
  top: -5%;
  left: 97%;
}
.btn-circle {
  color: #ffffff;
  border-radius: 100%;
  background: linear-gradient(201.65deg, #747def 10.27%, #5e3be1 100%);
}

.btn-discover {
  color: black;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.btn-discover-social {
  width: 50px !important;
  color: #ffffff;
  border-radius: 100%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #b8d2f1 0deg,
    #f289aa 60deg,
    #c68bf0 106.09deg,
    #d164da 153.75deg,
    #c963e8 221.25deg,
    #bfc2e8 258.75deg,
    #ffc999 288.75deg,
    #d0d8c9 315deg,
    #bad0f1 334.13deg,
    #ced8cb 358.97deg,
    rgba(255, 255, 255, 0) 360deg
  );
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.discover-your-app {
  padding: 25px 0px 15px 0px;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 124.5%;
  letter-spacing: 0.005em;
  color: #5e6282;
}

.btn-discover-title {
}

.company-desc {
  margin-top: 160px;
  float: left;
}

.desc-name {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 66px;
  padding-bottom: 20px;
  color: #181e4b;
}

.desc-text {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 124.5%;
  color: #5e6282;
}

.card-discover {
  text-align: left;
  width: 100%;
}
.card-discover .card-discover__card {
  border: 0px;
  background: black;
  border-radius: 17.5px;
}
.card-discover .card-discover__icon {
  width: 20px;
  height: 20px;
  border-radius: 13px;
  position: absolute;
  top: 10%;
  left: 10%;
  color: #ffffff;
}

.card-discover .card-discover__title {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 7px;
  /* line-height: 124.5%; */
  color: #ffffff;
  margin: 0px;
}

.card-discover__title--apple {
  font-weight: normal !important;
}

.card-discover .card-discover__text {
  margin: 0px;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  /* line-height: 124.5%; */
  color: #ffffff;
}
.card-discover__text--apple {
  font-weight: bold !important;
}

.h5--discover {
  margin-bottom: 0rem;
}

.card-body--discover {
  padding: 4px !important;
}

.col--discover {
  padding: 0px 0px 0px 0px;
}

.col--desc {
  padding: 20px;
}

.nav-title {
  padding-bottom: 30px;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 124.5%;
  color: #080809;
}

.nav-sub {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 124.5%;
  color: #5e6282;
}

.copyright {
  text-align: center;
  margin: 80px;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 124.5%;
  color: #5e6282;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(./font/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Google Sans;
  src: url(font/Open_Sans/OpenSans-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: Volkhov;
  src: url(font/Volkhov/Volkhov-Regular.ttf);
}

@media only screen and (max-width: 576px) {
  body {
    /* background-color: lightblue; */
    margin: 5% 10% 0px 10%;
  }

  .menu {
    height: 22px;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
  }

  .container-fluid {
    padding-left: 0px;
  }
  .btn--menu {
    text-align: start;
    padding-left: 0px;
  }
  .traveller {
    margin-top: 250px;
    float: left;
  }

  .traveller-img {
    width: 250px;
    height: 400px;
  }
  .description {
    font-size: 10;
  }

  .description .description__tagline {
    margin-top: 250px;
    font-size: 15px;
    line-height: 30px;
  }

  .description .description__heading {
    width: 100%;
    left: 150px;
    top: 271px;
    font-size: 40px;
    line-height: 50px;
  }
  .description .description__desc {
    height: 90px;
    width: 100%;
    left: 148px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
  }

  .cta {
    font-size: 8px !important;
    margin-top: 120px;
  }

  .btn--cta {
    float: left;
    font-size: 12px;
  }
  .btn--cta__play {
    margin-right: 10px;
  }

  .category {
    margin-top: 40px;
  }

  .card-values .card-values__title {
    font-size: 12px;
  }

  .card-values .card-values__text {
    font-size: 12px;
  }

  .card-values .card-values__icon {
    top: 15%;
    margin-right: 10px;
  }
  .bookTrip__card {
    height: 350px;
  }

  .bookTrip .bookTrip__heading {
    font-size: 28px;
    line-height: 40px;
  }
  .bookTrip__card--img {
    width: 90%;
    border-radius: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
  }

  .bookTrip .bookTrip__card {
    margin: 0px 12px 0px 12px;
  }

  .bookTrip-card-title {
    font-size: 18px;
    margin-bottom: 13px;
  }

  .bookTrip-card-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .bookTrip-card-option {
    width: 24px;
    height: 24px;
    margin-bottom: 15px;
    margin-left: 0px !important;
    font-size: 8px;
  }

  .bookTrip-card-quantity {
    font-size: 8px;
  }

  .col-quantity {
    padding-left: 0px;
    padding-right: 6px;
  }

  .icon-heart {
    font-size: 8px;
  }
  .ongoing {
    width: 70%;
    top: 35%;
    left: 75%;
  }
  .card-ongoing .card-ongoing__img {
    margin: 0px;
    width: 25px;
    height: 25px;
  }

  .card-ongoing .card-ongoing__title {
    font-size: 7px;
  }

  .card-ongoing .card-ongoing__text {
    font-size: 8px;
  }

  .card-ongoing .card-ongoing__percent {
    font-size: 7px;
  }
  .testi {
    margin-top: 100px;
  }
  .testi__card__text {
    font-size: 10px;
    line-height: 16px;
    width: 90%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .testi__card__name {
    font-size: 12px;
    line-height: 15px;
  }

  .testi__card__info {
    font-size: 8px;
  }
  .testi-hide {
    top: 15%;
    left: 20%;
  }

  .section {
    margin-top: 75px;
  }

  .section-img {
    height: 230px;
  }
  .section-subscribe {
    margin: 20px 50px 20px 50px;
    font-size: 18px;
    line-height: 27px;
  }
  .input-group {
    border: 0px;
  }
  .email-input {
    height: 40px;
  }

  .btn--subscribe {
    font-size: 8px;
    height: 40px;
  }

  .subscribe-icon {
    position: absolute;
    top: -8%;
    left: 94%;
  }

  .company-desc {
    margin-top: 80px;
  }

  .desc-name {
    font-size: 20px;
    top: 10%;

    line-height: 30px;
    padding-bottom: 20px;
  }

  .desc-text {
    font-size: 8px;
    line-height: 124.5%;
  }

  /* .discover {
    width: 10px;
    height: 10px;
  } */
  .discover-your-app {
    padding: 25px 0px 15px 0px;
    font-size: 10px;
    line-height: 124.5%;
    letter-spacing: 0.005em;
    color: #5e6282;
  }
  .btn-discover-social {
    width: 10px !important;
    height: 10px;
  }

  .card-discover .card-discover__icon {
    width: 10px;
    height: 10px;
    border-radius: 13px;
    top: 10%;
    left: 10%;
  }

  .card-discover .card-discover__title {
    font-size: 7px;
    /* line-height: 124.5%; */
  }

  .card-discover__title--apple {
    font-weight: normal !important;
  }

  .card-discover .card-discover__text {
    margin: 0px;
    font-size: 8px;
    color: #ffffff;
  }
  .card-discover__text--apple {
    font-weight: bold !important;
  }

  .h5--discover {
    margin-bottom: 0rem;
  }

  .card-body--discover {
    padding: 4px !important;
  }

  .col--discover {
    padding: 0px 0px 0px 0px;
  }

  .col--desc {
    padding: 20px;
  }

  .nav-title {
    padding-bottom: 15px;
    font-size: 12px;
    line-height: 124.5%;
  }

  .nav-sub {
    font-size: 10px;
    line-height: 124.5%;
  }

  .copyright {
    margin: 40px;
    font-size: 14px;
    line-height: 124.5%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  body {
    /* background-color: lightcoral; */
    margin: 5% 0% 0px 5%;
  }

  .menu {
    height: 22px;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
  }

  .container-fluid {
    padding-left: 0px;
  }
  .btn--menu {
    text-align: start;
    padding-left: 0px;
  }
  .traveller {
    margin-top: 250px;
    float: left;
  }

  .traveller-img {
    width: 250px;
    height: 400px;
  }
  .description {
    font-size: 10;
  }

  .description .description__tagline {
    margin-top: 250px;
    font-size: 15px;
    line-height: 30px;
  }

  .description .description__heading {
    width: 100%;
    left: 150px;
    top: 271px;
    font-size: 40px;
    line-height: 50px;
  }
  .description .description__desc {
    height: 90px;
    width: 100%;
    left: 148px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
  }

  .cta {
    font-size: 8px !important;
    margin-top: 60px;
  }

  .btn--cta {
    float: left;
    font-size: 12px;
  }
  .btn--cta__play {
    margin-right: 10px;
  }
  .category {
    margin-top: 80px;
  }

  .category .category__card {
    margin: 0px 18px 18px 0px;
  }

  .card-values .card-values__title {
    font-size: 12px;
  }

  .card-values .card-values__text {
    font-size: 12px;
  }

  .card-values .card-values__icon {
    top: 15%;
    margin-right: 10px;
  }
  .bookTrip__card {
    height: 350px;
  }

  .bookTrip .bookTrip__heading {
    font-size: 28px;
    line-height: 40px;
  }
  .bookTrip__card--img {
    width: 90%;
    border-radius: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
  }

  .bookTrip .bookTrip__card {
    margin: 0px 12px 0px 12px;
  }

  .bookTrip-card-title {
    font-size: 18px;
    margin-bottom: 13px;
  }

  .bookTrip-card-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .bookTrip-card-option {
    width: 24px;
    height: 24px;
    margin-bottom: 15px;
    margin-left: 0px !important;
    font-size: 8px;
  }

  .bookTrip-card-quantity {
    font-size: 8px;
  }

  .col-quantity {
    padding-left: 0px;
    padding-right: 6px;
  }

  .icon-heart {
    font-size: 8px;
  }
  .ongoing {
    width: 70%;
    top: 35%;
    left: 75%;
  }
  .card-ongoing .card-ongoing__img {
    margin: 0px;
    width: 25px;
    height: 25px;
  }

  .card-ongoing .card-ongoing__title {
    font-size: 7px;
  }

  .card-ongoing .card-ongoing__text {
    font-size: 8px;
  }

  .card-ongoing .card-ongoing__percent {
    font-size: 7px;
  }
  .testi {
    margin-top: 100px;
  }

  .testi__card__text {
    font-size: 10px;
    line-height: 16px;
    width: 90%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .testi__card__name {
    font-size: 12px;
    line-height: 15px;
  }

  .testi__card__info {
    font-size: 8px;
  }
  .testi-hide {
    top: 15%;
    left: 20%;
  }

  .section {
    margin-top: 75px;
  }

  .section-img {
    height: 230px;
  }
  .section-subscribe {
    margin: 20px 50px 20px 50px;
    font-size: 18px;
    line-height: 27px;
  }
  .input-group {
    border: 0px;
  }
  .email-input {
    height: 40px;
  }

  .btn--subscribe {
    font-size: 8px;
    height: 40px;
  }

  .subscribe-icon {
    position: absolute;
    top: -8%;
    left: 94%;
  }

  .company-desc {
    margin-top: 80px;
  }

  .desc-name {
    font-size: 30px;
    top: 10%;
    line-height: 30px;
    padding-bottom: 20px;
  }

  .desc-text {
    font-size: 12px;
    line-height: 124.5%;
  }
  /* 
  .discover {
    width: 10px;
    height: 10px;
  } */

  .discover-your-app {
    font-size: 16px;
  }

  /* .btn-discover-social {
    width: 10px !important;
    height: 10px;
  } */

  .card-discover .card-discover__icon {
    width: 10px;
    height: 10px;
    border-radius: 13px;
    top: 10%;
    left: 10%;
  }

  .card-discover .card-discover__title {
    font-size: 7px;
    /* line-height: 124.5%; */
  }

  .card-discover__title--apple {
    font-weight: normal !important;
  }

  .card-discover .card-discover__text {
    margin: 0px;
    font-size: 8px;
    color: #ffffff;
  }
  .card-discover__text--apple {
    font-weight: bold !important;
  }

  .h5--discover {
    margin-bottom: 0rem;
  }

  .card-body--discover {
    padding: 4px !important;
  }

  .col--discover {
    padding: 0px 0px 0px 0px;
  }

  .col--desc {
    padding: 20px;
  }

  .discover {
    width: 12px !important;
    height: 12px !important;
  }
  .btn-discover {
    font-size: 10px;
  }

  .btn-discover-social {
    font-size: 10px;
  }

  .row--discover {
    padding-left: 0px !important;
  }

  .icon-discover {
    position: absolute;
    size: 20px;
  }

  .nav-title {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 124.5%;
  }

  .nav-sub {
    font-size: 12px;
    line-height: 124.5%;
  }

  .copyright {
    margin: 40px;
    font-size: 14px;
    line-height: 124.5%;
  }
}

@media only screen and (max-width: 390px) {
  body {
    /* background-color: lightgreen; */
    margin: 5% 10% 0px 10%;
  }

  .menu {
    height: 22px;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
  }

  .container-fluid {
    padding-left: 0px;
  }
  .btn--menu {
    text-align: start;
    padding-left: 0px;
  }
  .traveller {
    margin-top: 250px;
    float: left;
  }

  .traveller-img {
    width: 150px;
    height: 250px;
  }
  .description {
    font-size: 10;
  }

  .description .description__tagline {
    margin-bottom: 80px;
    margin-top: 250px;
    font-size: 15px;
    line-height: 30px;
  }

  .description .description__heading {
    width: 100%;
    left: 150px;
    top: 271px;
    font-size: 40px;
    line-height: 50px;
  }
  .description .description__desc {
    height: 90px;
    width: 100%;
    left: 148px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
  }

  .cta {
    font-size: 8px !important;
    margin-top: 250px;
  }

  .btn--cta {
    float: left;
    font-size: 12px;
  }
  .btn--cta__play {
    margin-right: 10px;
  }

  .category {
    margin-top: 40px;
  }

  .card-values .card-values__title {
    font-size: 12px;
  }

  .card-values .card-values__text {
    font-size: 12px;
  }

  .card-values .card-values__icon {
    top: 15%;
    margin-right: 10px;
  }
  .bookTrip__card {
    height: 350px;
  }

  .bookTrip .bookTrip__heading {
    font-size: 28px;
    line-height: 40px;
  }
  .bookTrip__card--img {
    width: 90%;
    border-radius: 24px;
    margin-bottom: 12px;
    margin-top: 12px;
  }

  .bookTrip .bookTrip__card {
    margin: 0px 12px 0px 12px;
  }

  .bookTrip-card-title {
    font-size: 18px;
    margin-bottom: 13px;
  }

  .bookTrip-card-subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .bookTrip-card-option {
    width: 24px;
    height: 24px;
    margin-bottom: 15px;
    margin-left: 0px !important;
    font-size: 8px;
  }

  .bookTrip-card-quantity {
    font-size: 8px;
  }

  .col-quantity {
    padding-left: 0px;
    padding-right: 6px;
  }

  .icon-heart {
    font-size: 8px;
  }
  .ongoing {
    width: 70%;
    top: 35%;
    left: 75%;
  }
  .card-ongoing .card-ongoing__img {
    margin: 0px;
    width: 25px;
    height: 25px;
  }

  .card-ongoing .card-ongoing__title {
    font-size: 7px;
  }

  .card-ongoing .card-ongoing__text {
    font-size: 8px;
  }

  .card-ongoing .card-ongoing__percent {
    font-size: 7px;
  }
  .testi {
    margin-top: 100px;
  }

  .testi .testi__heading {
    font-size: 30px;
    line-height: 44px;
    color: #14183e;
  }
  .testi__card__text {
    font-size: 10px;
    line-height: 16px;
    width: 90%;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .testi__card__name {
    font-size: 12px;
    line-height: 15px;
  }

  .testi__card__info {
    font-size: 8px;
  }
  .testi-hide {
    top: 30%;
    left: 23%;
  }

  .section {
    margin-top: 75px;
  }

  .section-img {
    height: 230px;
  }
  .section-subscribe {
    margin: 20px 50px 20px 50px;
    font-size: 18px;
    line-height: 27px;
  }
  .form-control {
    font-size: 0.5rem;
  }

  .input-group {
    border: 0px;
  }
  .email-input {
    height: 40px;
  }

  .btn--subscribe {
    padding: 0px;
    font-size: 8px;
    height: 40px;
  }

  .subscribe-icon {
    position: absolute;
    top: -8%;
    left: 94%;
  }

  .company-desc {
    margin-top: 80px;
  }

  .desc-name {
    font-size: 20px;
    top: 10%;

    line-height: 30px;
    padding-bottom: 20px;
  }

  .desc-text {
    font-size: 8px;
    line-height: 124.5%;
  }

  /* .discover {
    width: 10px;
    height: 10px;
  } */

  .card-discover .card-discover__icon {
    width: 5px;
    height: 5px;
    font-size: .5rem;
    border-radius: 13px;
    top: 30%;
    left: 10%;
  }

  .card-discover .card-discover__title {
    font-size: 5px;
    /* line-height: 124.5%; */
  }

  .card-discover__title--apple {
    font-weight: normal !important;
  }

  .card-discover .card-discover__text {
    margin: 0px;
    font-size: 5px;
    color: #ffffff;
  }
  .card-discover__text--apple {
    font-weight: bold !important;
  }

  .h5--discover {
    margin-bottom: 0rem;
  }

  .card-body--discover {
    padding: 4px !important;
  }

  .col--discover {
    padding: 0px 0px 0px 0px;
  }

  .col--desc {
    padding: 20px;
  }

  .discover {
    width: 8px !important;
    height: 8px !important;
    padding: 2px !important;

  }
  .btn-discover {
    font-size: 6px;
  }

  .btn-discover-social {
    font-size: 6px;
  }

  .row--discover {
    padding-left: 0px !important;
  }

  .discover-your-app{
    padding: 10px 0px 15px 0px;
    font-size: 8px;
  }

  .icon-discover {
    position: absolute;
    size: 20px;
  }

  .nav-title {
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 124.5%;
  }

  .nav-sub {
    font-size: 12px;
    line-height: 124.5%;
  }

  .copyright {
    margin: 40px;
    font-size: 14px;
    line-height: 124.5%;
  }
}
