body {
  margin: 50px 150px 0px 100px;
}

.logo {
  border-radius: 0px;
}

.menu {
  height: 22px;
  border-radius: 0;
  /* font-family: Google Sans; */
  font-size: 17px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.traveller {
  float: right;
  width: 765;
  height: 765;
}
.description {
  /* background-color: red; */
  float: left;
  font-size: 10;
}

.description .description__tagline {
  height: 30px;
  /* width: 410px; */
  margin-top: 135px;
  margin-bottom: 24px;
  color: #df6951;
  left: 150px;
  top: 217px;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.description .description__heading {
  height: 267px;
  width: 545px;
  left: 150px;
  top: 271px;
  color: #181e4b;
  margin-bottom: 30;
  font-family: Volkhov;
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -0.04em;
  text-align: left;
}
.description .description__desc {
  height: 90px;
  width: 477px;
  left: 148px;
  top: 568px;
  color: #5e6282;
  margin-bottom: 30px;
  border-radius: nullpx;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.btn {
}

.btn--cta {
  float: left;
  /* margin-right: 30px; */
  border-radius: 10px;
  background: #f1a501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  color: #ffffff;
  font-family: Google Sans;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.btn--cta__play {
  margin-right: 21px;

  background: #df6951;
  box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
}

.btn--cta__play__icon {
  color: #ffffff;
}

.card:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}

.category {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.category .category__name {
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #5e6282;
}

.category .category__text {
  font-family: Volkhov;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
}

.category .category__card {
  border: 0px;
  margin: 0px 18px 0px 18px;
  border-radius: 36px;

  align-items: center;
  justify-content: center;
  width: 267px;
  height: 314px;
}

.category__card--img {
  margin-top: 40px !important;
  width: 137px;
}
.card-body {
  /* margin: 40px 0px 0px 0px; */
}
.card-text {
  margin: 0px 30px 0px 30px;
}
