body {
  margin: 50px 100px 0px 100px;
}

.logo {
  border-radius: 0px;
}
.card {
  border: 0px;
}
.menu {
  height: 22px;
  border-radius: 0;
  /* font-family: Google Sans; */
  font-size: 17px;
  font-style: normal;
  /* font-weight: 400; */
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.traveller {
  float: left;
  /* width: 500px;
  height: 500px; */
}

.traveller-img {
  vertical-align: auto;
  width: 500px;
  height: 765px;
}
.description {
  /* background-color: red; */
  float: left;
  font-size: 10;
}

.description .description__tagline {
  height: 30px;
  /* width: 410px; */
  margin-top: 135px;
  margin-bottom: 24px;
  color: #df6951;
  left: 150px;
  top: 217px;
  font-family: Poppins-Regular;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}

.description .description__heading {
  height: 267px;
  width: 545px;
  left: 150px;
  top: 271px;
  color: #181e4b;
  margin-bottom: 30;
  font-family: Volkhov;
  font-size: 84px;
  font-style: normal;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -0.04em;
  text-align: left;
}
.description .description__desc {
  height: 90px;
  width: 477px;
  left: 148px;
  top: 568px;
  color: #5e6282;
  margin-bottom: 30px;
  border-radius: nullpx;
  font-family: Poppins-Regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.btn {
}

.btn--cta {
  float: left;
  /* margin-right: 30px; */
  border-radius: 10px;
  background: #f1a501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  color: #ffffff;
  font-family: Google Sans;
  font-style: normal;
  font-weight: 500;
  text-align: center;
}

.btn--cta__play {
  margin-right: 21px;

  background: #df6951;
  box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
}

.btn--cta__play__icon {
  color: #ffffff;
}

.category {
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.category .category__name {
  font-family: Poppins-Regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #5e6282;
}

.category .category__text {
  font-family: Volkhov;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
}

.category .category__card {
  border: 0px;
  margin: 0px 18px 0px 18px;
  border-radius: 36px;

  align-items: center;
  justify-content: center;
  width: 267px;
  height: 314px;
}

.category__card:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
}
.category__card--img {
  margin-top: 40px !important;
  width: 50%;
  /* height: 400px; */
}
.card-body {
  /* margin: 40px 0px 0px 0px; */
  width: 100%;
  color: #5e6282;
}
.card-text {
  /* margin: 0px 30px 0px 30px; */
}
.card-title {
  color: #1e1d4c;
}
.destination {
  /* align-items: center; */
  /* justify-content: center; */
  margin-top: 150px;
}

.destination .destination__name {
  margin-bottom: 8px;
  font-family: Poppins-Regular;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #5e6282;
}
.destination .destination__name--right {
  text-align: right;
}

.destination .destination__text {
  margin-bottom: 60px;
  font-family: Volkhov;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0em;
  text-align: center;
}

.destination .destination__card {
  padding: 0px;

  border: 0px;
  margin: 0px 18px 0px 18px;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  /* width: 267px;
  height: 314px; */

  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}
.destination__card--img {
  /* width: 200px; */
  height: 400px;
  border-radius: 24px 24px 0px 0px;
}

.description .destination__info {
  /* padding: 32px; */
  /* padding-right: 24px !important; */
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  /* font-size: 16px !important; */
  line-height: 124.5%;
  color: #5e6282;
}

.destination__info--icon {
  margin-bottom: 25px;

  color: #080809;
}

.bookTrip {
  margin-top: 186px;
}
.bookTrip .bookTrip__subHeading {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: left;
}

.bookTrip .bookTrip__heading {
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 64px;
}

.card-values {
  text-align: left;
  margin-bottom: 4px;
}
.card-values .card-values__card {
  border: 0px;
}
.card-values .card-values__icon {
  border-radius: 13px;
  position: absolute;
  top: 15%;
}

.btn--values {
  background: #f0bb1f;
  color: hsl(0, 0%, 100%);
}

.btn--payment {
  background: #f15a2b;
  color: hsl(0, 0%, 100%);
}
.btn--airport {
  background: #006380;
  color: hsl(0, 0%, 100%);
}

.card-values .card-values__title {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
}

.card-values .card-values__text {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
}

.bookTrip .bookTrip__card {
  padding: 0px;
  border: 0px;
  margin: 0px 18px 0px 18px;
  border-radius: 24px;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02))
    drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852))
    drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481))
    drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185))
    drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
}

.bookTrip__card--img {
  width: 90%;
  border-radius: 24px;
  margin-bottom: 25px;
}

.bookTrip-card-title {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: 0.015em;
  color: #080809;
  margin-bottom: 13px;
}
.vl {
  border-left: 6px solid green;
  height: 500px;
}
.bookTrip-card-subtitle {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.005em;
  color: #84829a;
  margin-bottom: 20px;
}
.bookTrip-card-option {
  width: 36px;
  height: 36px;
  background: #f5f5f5;
  margin-bottom: 30px;
}
.bookTrip-card-option .bookTrip-card-option__icon {
  color: #84829a;
}
.bookTrip-card-quantity {
  /* float: left; */
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.02em;
  color: #84829a;
}
.ongoing {
  width: 60%;
  position: absolute;
  top: 55%;
  left: 60%;
}
.card-ongoing {
  text-align: left;
  margin-bottom: 4px;
}
.card-ongoing .card-ongoing__card {
  border: 0px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
}
.card-ongoing .card-ongoing__img {
  margin-left: 20px;
  border-radius: 13px;
  position: absolute;
  top: 15%;
}

.card-ongoing .card-ongoing__title {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.035em;
  color: #84829a;
}

.card-ongoing .card-ongoing__text {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: -0.015em;
  color: #080809;
}

.card-ongoing .card-ongoing__percent {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.055em;
}

.progress {
  height: 5px;
  background-color: #f5f5f5;
}
.progress-bar {
  background-color: #8a79df;
}
/* testimonial */
.testi {
  margin-top: 200px;
}

.testi .testi__title {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5e6282;
}

.testi .testi__heading {
  font-family: Volkhov;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 64px;
  text-transform: capitalize;
  color: #14183e;
}

.testi .testi__slider {
  margin-top: 80px;
  color: #e5e5e5;
}

.testi__slider__active {
  color: #39425d;
}

.testi__card {
  width: 80%;
  border: 0px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}

.testi-hide {
  position: absolute;
  z-index: 0;
  top: 30%;
  left: 15%;
  right: -8%;
}
.testi-show {
  position: absolute;
  z-index: 1;
}
.testi__card__img {
  width: 60%;
  position: absolute;
  top: -15%;
  left: -5%;
}
.testi__card__text {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  width: 90%;
  color: #5e6282;
  margin-bottom: 30px;
}
.testi__card__name {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5e6282;
}
.testi__card__info {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #5e6282;
}
.testi__card__pagination {
}

.logos {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.logos-card-img {
  width: 80%;
}

.card-img:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 10px;
}

.section {
  margin-top: 150px;
}

.section-card {
}
.section-img {
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background: #dfd7f9;
  border-radius: 20px 129px 20px 20px;
  opacity: 0.2;
  width: 1170;
  height: 400px;
}
.section-subscribe {
  text-align: center;
  margin: 40px 100px 40px 100px;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  color: #5e6282;
}
.input-group {
  border: 0px;
}
.email-input {
  width: 80%;
  height: 68px;
  border-radius: 10px;
  border: none;
}

.btn--subscribe {
  font-size: 17px;
  color: #ffffff;
  height: 68px;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
}

.subscribe-icon {
  width: 60%;
  position: absolute;
  top: -5%;
  left: 97%;
}
.btn-circle {
  color: #ffffff;
  border-radius: 100%;
  background: linear-gradient(201.65deg, #747def 10.27%, #5e3be1 100%);
}

/* .div--discover {
  font-size: 10px;
  background: #080809;
  border-radius: 17.5px;
  color: #ffffff;
} */
.btn-discover {
  color: black;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.btn-discover-social {
  color: #ffffff;
  border-radius: 100%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #b8d2f1 0deg,
    #f289aa 60deg,
    #c68bf0 106.09deg,
    #d164da 153.75deg,
    #c963e8 221.25deg,
    #bfc2e8 258.75deg,
    #ffc999 288.75deg,
    #d0d8c9 315deg,
    #bad0f1 334.13deg,
    #ced8cb 358.97deg,
    rgba(255, 255, 255, 0) 360deg
  );
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.discover-your-app {
  padding: 25px 0px 15px 0px;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 124.5%;
  letter-spacing: 0.005em;
  color: #5e6282;
}

.btn-discover-title {
}

.company-desc {
  margin-top: 160px;
  float: left;
}

.desc-name {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 66px;
  padding-bottom: 20px;
  color: #181e4b;
}

.desc-text {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 124.5%;
  color: #5e6282;
}

.card-discover {
  text-align: left;
  width: 100%;
}
.card-discover .card-discover__card {
  border: 0px;
  background: black;
  border-radius: 17.5px;
}
.card-discover .card-discover__icon {
  width: 20px;
  height: 20px;
  border-radius: 13px;
  position: absolute;
  top: 10%;
  left: 10%;
  color: #ffffff;
}

.card-discover .card-discover__title {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 7px;
  /* line-height: 124.5%; */
  color: #ffffff;
  margin: 0px;
}

.card-discover__title--apple {
  font-weight: normal !important;
}

.card-discover .card-discover__text {
  margin: 0px;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  /* line-height: 124.5%; */
  color: #ffffff;
}
.card-discover__text--apple {
  font-weight: bold !important;
}

.h5--discover {
  margin-bottom: 0rem;
}

.card-body--discover {
  padding: 4px !important;
}

.col--discover {
  padding: 0px 0px 0px 0px;
}

.col--desc {
  padding: 20px;
}

.nav-title {
  padding-bottom: 30px;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 124.5%;
  /* or 26px */

  /* black */
  color: #080809;
}

.nav-sub {
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 124.5%;
  color: #5e6282;
}

.copyright {
  text-align: center;
  margin: 80px;
  font-family: Poppins-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 124.5%;
  color: #5e6282;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(./font/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: Google Sans;
  src: url(font/Open_Sans/OpenSans-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: Volkhov;
  src: url(font/Volkhov/Volkhov-Regular.ttf);
}

@media only screen and (min-device-width: 390px) and (max-device-width: 844px) and (-webkit-min-device-pixel-ratio: 3) {
  html{
    width: 844px;
  }
}
